/* aboutCss.css */

.about-section-bg {
    background-color: #F3E5E5;
    /* A soft background to make the text stand out */
}

.about-card {
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-title {
    color: #dd873c;
    font-weight: bold;
}

.about-text {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
}

.about-image {
    max-width: 100%;
    border-radius: 1rem;
}

.team-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.team-name {
    color: #9A616D;
    font-weight: 600;
}

.team-role {
    color: #555;
    font-style: italic;
}